.content{
    display: flex;
    min-height: 60vh;
    margin-top: 16em;
}
.msj{
    font-size: 300%;
    z-index: 1;
    color: white;
    left: 26em;
    
}
.msj2{
    font-size: 150%;
    z-index: 1;
    color: white;
    top: 20em;
    left: 34em;    
}

.flextext{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-container{
    object-fit: contain;
}

.video{
    display: flex;
    object-fit: cover;
    width: 119em;
    height: 55em;
    position: absolute;
    left: 0em;
    top: 0em;
    z-index: 0;
    @media screen 
        and (min-device-width: 1200px) 
        and (max-device-width: 1600px) 
        and (-webkit-min-device-pixel-ratio: 1) { 
            width: 84em;
            height: 45em;
            left: 0em;
}   
    @media screen
        and (max-width: 800px) 
        and (max-height: 900px) 
         {
            max-width: 30em;
            height: 40em;
            
        }
}
.face{
    display: flex;
    height: 120px;
    width: 120px;
    align-self: center;    
}
.txt{
    text-align: center;
    color: white;
}
